*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}

.about-container{
    background-color: white;
    height: 500px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 20px;
}
.about-details{
    display: flex;
    justify-content: space-around;
}
.about-text{
    margin-left: auto;
    padding-right: 100px;
 
}
.about-description{
        font-family: 'Karla-Bold';
        font-size: 16px;
        color:black;
        width: 224px;
        height:79px;
}
.title{
    font-size: 64px;
    color: black;
    font-family: "MarkaziText-Medium";
    padding-top: 50px;
    height: 115px;
}

.subtitle{
    font-family: "MarkaziText-Regular";
    color: "white";
    font-size: 40px;
}
.picture-container{
   height: 500px;
   justify-content: left;
   display: inline-flex;
   margin-right: auto;
}
.about-pic{
    width: 271.88px;
    height: 336px;
}
#restaurant-pic{
    position: relative;
    left: 80px;
    top: 123px;
    z-index: 1;
}
#people-pic{
    position: relative;
    left: 50px;
}

@media screen and (max-width: 700px) {
    .about-pic{
        width: 120px;
        height: 120px;
    }
    .about-text{
        margin-right: auto;
        padding-right: 0px;
    }
    .picture-container{
        height: 500px;
        display: inline-flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        padding-top: 50px;

    }
    #people-pic{
        right: 50px;
    }
    #restaurant-pic{
        position: relative;
        right: 100px;
    }
}
