*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.hero{
    background-color: #495E57;
    margin: auto;
    height:347px;
    display: flex;
    flex-direction: column;

.hero-details{
    display: flex;
    justify-content: space-around;
}
.hero-text{
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    }
    .hero-description{
        font-family: 'Karla-Bold';
        font-size: 16px;
        color:white;
        width: 224px;
        height:79px;
    }
    .reserve-btn{
        background-color: #F4CE14;
        width: 200px;
        height: 47px;
        border-radius: 16px;
        font-family:'Karla-Bold';
        font-size:18px;
        margin: auto;
    }
}
.section-container{
   width:80%;
   margin-right: auto;
   margin-left: auto;
   display: block;
   text-align: center;
   padding-top: 130px;
}
.testimonial-container{
   padding-top: 50px;
}
.online-menu-btn{
    font-family: 'Karla-Bold';
    font-size: 18px;
    background-color: #F4CE14;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 16px;
}
@media screen and (max-width: 700px) {
    div{
        display: block;
    .hero-image{
        position: relative;
    }
}

    .hero{
        width:fit-content;
    }
    .hero-details{
        width: max-content;
    }
}